@import "tailwindcss";

@theme {
    --color-primary: #FF6666;
    --color-orange: #F98D1F;
    --color-orange-light: #FFE3A5;
    --color-pink-light: #FFC0AB;
    --color-navy: #2C4073;
    --color-cream: #FCF9F4;
    --color-peach: #FCEEE8;
    --color-heading: #050505;
    --color-body: #595959;
    --color-burger: #5C2808;
    --color-copyright: #FFD4C2;

    --font-nunito: "Nunito", sans-serif;
    --font-mulish: "Mulish", sans-serif;
    --font-pacifico: "Pacifico", serif;
}

@layer base {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: var(--color-heading);
        font-family: var(--font-nunito);
        font-weight: 900;
    }

    a {
        color: var(--color-body);
        transition: all ease 0.5s;
        text-decoration: none;

        &:hover {
            color: var(--color-heading);
        }

        &:focus-visible {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: 2px;
        }
    }

    p {
        font-size: 16px;
        color: var(--color-body);
        margin-bottom: 15px;
        line-height: 1.7;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media only screen and (max-width: 991px) {
        body {
            font-size: 14px;
        }

        p {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}

@layer components {
    .container-bs {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 576px)  { max-width: 540px; }
        @media (min-width: 768px)  { max-width: 720px; }
        @media (min-width: 992px)  { max-width: 960px; }
        @media (min-width: 1200px) { max-width: 1140px; }
        @media (min-width: 1400px) { max-width: 1320px; }
    }

    .btn-orange-animated {
        display: inline-flex;
        background-color: var(--color-orange);
        border: none;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        font-weight: 900;
        color: #ffffff;
        transition: all ease 0.5s;
        z-index: 1;
        padding: 18px 45px;
        border-radius: 5px;
        font-size: 16px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            border: solid 1px var(--color-orange);
            border-radius: 5px;
            z-index: -1;
            transition: all ease 0.5s;
        }

        &::before {
            left: 0;
            width: 55%;
        }

        &::after {
            right: 0;
            width: 50%;
        }

        &:hover {
            color: #ffffff;
            background-color: var(--color-orange-light);

            &::before,
            &::after {
                width: 100%;
                border-color: var(--color-orange);
                background-color: var(--color-orange-light);
            }
        }

        & img {
            position: relative;
            left: 4px;
        }

        @media only screen and (max-width: 991px) {
            padding: 10px 25px;
            font-size: 15px;
        }
    }

    .filter-tab-btn {
        background-image: url(../theme/images/svgs/childhod1.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        padding: 0;

        &:focus-visible {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }

        &.active {
            background-image: url(../theme/images/svgs/childhod2.png);
            background-color: transparent;
        }
    }

    .gallery-widget {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all ease 0.5s;
            background-image: url(../theme/images/shapes/passion-before.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover::after {
            opacity: 1;
        }

        & .gallery-icon {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
            opacity: 0;
            transition: all ease 0.5s;
            top: 50%;
            transform: translateY(-23px);
            width: 60px;
            height: 60px;
            background-color: var(--color-orange);
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: var(--color-orange-light);
            }

            & img {
                height: 18px;
            }
        }

        &:hover .gallery-icon {
            opacity: 1;
        }

        & .gallery2 {
            border-radius: 30px;
            width: 100%;
        }
    }

    .creativity-card {
        position: relative;

        & h3 {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: var(--color-pink-light);
                transform: translateX(-50%);
                transition: width 0.3s ease;
            }
        }
    }

    a:hover .creativity-card h3::after {
        width: 110%;
    }
}

/* Scroll to top button (cat paw) */
#scrollTopBtn {
    display: block;
    position: fixed;
    bottom: -5px;
    right: 34px;
    transition: all ease 0.5s;
    line-height: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 9999;
    background-image: url(../theme/images/meow/patte-chat.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 142px;
    width: 35.5px;

    &:hover {
        bottom: 10px;
    }
}

/* Navbar sticky state */
.navbar-main.sticky {
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 1030;
    position: sticky;
    background-color: #ffffff;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
