$body-color:  #777777;
$main-color: #FF6666;
$heading-color: #2C4073;
$star-color: #FFC107;
$white-color: #ffffff;
$black-color: #000000;
$hover-color:  rgba(255, 64, 87, 0.09);
$border-color: #EEEEEE;
$transition: all ease 0.5s;

/*
Navbar Warp  Style
======================================================*/
.navbar {
    left: 0;
    right: 0;
    height: auto;
    z-index: 4;
    padding: {
        left: 0;
        right: 0;
        top: 14px;
        bottom: 14px;
    };
    position: relative;
    &.black-nav {
        background-color: transparent ;
        z-index: 9;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $white-color;
                    &:hover {
                        color: $main-color;
                    }
                    &.active {
                        color: $main-color;
                    }
                }
                .dropdown-menu {
                    background: #161A1E;
                    .nav-item {
                        margin: 0;
                        .nav-link {
                            display: block;
                            padding: 8.5px 15px;
                            color: $white-color;
                            &::after {
                                display: none;
                            }

                            &.active, &:hover {
                                color: $main-color;
                            }
                        }
                        .dropdown-menu {
                            .nav-item {
                                .nav-link {
                                    color: $white-color;

                                    &.active, &:hover {
                                        color: $main-color;
                                    }
                                }
                                .dropdown-menu {
                                    .nav-item {
                                        .nav-link {
                                            color: $white-color;

                                            &.active, &:hover {
                                                color: $main-color;
                                            }
                                        }
                                        .dropdown-menu {
                                            .nav-item {
                                                .nav-link {
                                                    color: $white-color;

                                                    &.active, &:hover {
                                                        color: $main-color;
                                                    }
                                                }
                                                &.active {
                                                    .nav-link {
                                                        color: $main-color;
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            .nav-link {
                                                color: $main-color;
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    .nav-link {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                        &.active {
                            .nav-link {
                                color: $main-color;
                            }
                        }
                    }
                }
                &:hover {
                    .nav-link {
                        color: $main-color;
                    }
                }
            }
        }
        &.sticky {
            background: #161A1E;
        }
    }
    &.sticky {
        top: -1px;
        left: 0;
        width: 100%;
        border-radius: 0;
        z-index: 1030;
        position: sticky;
        background-color: $white-color;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        border-color: transparent;
        .navbar-logo {
            position: relative;
            margin-top: 0;
        }
        .inner-navbar-warp {
            margin-top: 0;
        }
        .number-6 {
            display: none;
        }
        .responsive-logo {
            display: block;
        }
    }
    .navbar-brand {
        font-size: inherit;
        line-height: 1;
        padding: 0;
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
        padding-right: 0;
        list-style-type: none;
    }
    .navbar-toggler {
        color: $heading-color;
        font-size: inherit;
        box-shadow: unset;
        border: none;
        padding: 0;
        &.black-toggle {
            color: $white-color;
            .burger-menu span {
                background: $white-color;
            }
        }
        .burger-menu {
            cursor: pointer;

            span {
                height: 3px;
                width: 30px;
                margin: 5px 0;
                display: block;
                background: $heading-color;
            }
        }
    }
    .navbar-nav {
        .nav-item {
            position: relative;
            margin: {
                left: 24px;
                right: 24px;
            };
            .nav-link {
                position: relative;
                color: $heading-color;
                font-family: 'Nunito';
                transition: $transition;
                &::after {
                    display: none;
                }
                font: {
                    weight: 700;
                    size: 16px;
                };
                padding: {
                    left: 0;
                    right: 0;
                    top: 25px;
                    bottom: 25px;
                };
                &:hover, &.active {
                    color: $main-color;
                }
                &.with-image {
                    position: relative;
                    .navbar-image {
                        position: absolute;
                        bottom: -12px;
                        text-align: center;
                        left: 50%;
                        transition: $transition;
                        opacity: 0;
                        transform: translateX(-11px);
                    }
                }
            }
            .dropdown-toggle {
                padding-right: 18px;
                &::after {
                    left: -5px;
                }
                &::before {
                    position: absolute;
                    content: "\f11c";
                    line-height: 1;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-43%);
                    margin-top: -1px;
                    font-family: flaticon_mycollection !important;
                    font-size: 10px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            &:hover, &.active {
                .nav-link {
                    color: $main-color;
                }
            }
            .dropdown-menu {
                left: 0;
                top: 73px;
                opacity: 0;
                z-index: 99;
                border: none;
                width: 250px;
                margin-top: 0;
                display: block;
                padding: 12px 0;
                border-radius: 5px;
                position: absolute;
                visibility: hidden;
                background: $white-color;
                transition: all 0.2s ease-in-out;
                transform: translate3d(0, 18px, 0);
                box-shadow: rgba(4, 4, 5, .20) 0px 7px 36px -8px;

                .nav-item {
                    margin: 0;

                    .nav-link {
                        display: block;
                        padding: 8.5px 20px;
                        color: $heading-color;
                        &::after {
                            display: none;
                        }

                        &.active, &:hover {
                            color: $main-color;
                        }
                        &.dropdown-toggle {
                            &::before {
                                top: 50%;
                                right: 20px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    .dropdown-menu {
                        top: 0;
                        opacity: 0;
                        left: -100%;
                        margin-top: 0;
                        visibility: hidden;
                        transform: translate3d(0, 18px, 0);

                        .nav-item {
                            .nav-link {
                                color: $body-color;

                                &.active, &:hover {
                                    color: $main-color;
                                }
                            }
                            .dropdown-menu {
                                top: 0;
                                opacity: 0;
                                left: 100%;
                                visibility: hidden;
                                transform: translate3d(0, 18px, 0);

                                .nav-item {
                                    .nav-link {
                                        color: $body-color;

                                        &.active, &:hover {
                                            color: $main-color;
                                        }
                                    }
                                    .dropdown-menu {
                                        top: 0;
                                        opacity: 0;
                                        left: -100%;
                                        visibility: hidden;
                                        transform: translate3d(0, 18px, 0);

                                        .nav-item {
                                            .nav-link {
                                                color: $heading-color;

                                                &.active, &:hover {
                                                    color: $main-color;
                                                }
                                            }
                                            &.active {
                                                .nav-link {
                                                    color: $heading-color;
                                                }
                                            }
                                            &:hover {
                                                .dropdown-menu {
                                                    opacity: 1;
                                                    visibility: visible;
                                                }
                                            }
                                        }
                                    }
                                    &.active {
                                        .nav-link {
                                            color: $heading-color;
                                        }
                                    }
                                    &:hover {
                                        .dropdown-menu {
                                            opacity: 1;
                                            visibility: visible;
                                            transform: translate3d(0, 0, 0);
                                        }
                                    }
                                }
                            }
                            &.active {
                                .nav-link {
                                    color: $main-color;
                                }
                            }
                            &:hover {
                                .dropdown-menu {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translate3d(0, 0, 0);
                                }
                            }
                        }
                    }
                    &.active {
                        .nav-link {
                            color: $heading-color;
                        }
                    }
                    &:hover {
                        .dropdown-menu {
                            opacity: 1;
                            margin-top: 0;
                            visibility: visible;
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
            }
            &:hover {
                .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
    .others-option {
        position: relative;
        .option-item {
            padding-left: 22px;
            .open-button {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                background-color: transparent;
                border: none;
                border: solid 2px $main-color;
                img {
                    position: relative;
                    top: -1px;
                }
                &.style2 {
                    border-radius: 5px;
                }
                &.not-border {
                    border: none;
                    width: 35px;
                    height: 35px;
                }
            }
            .side-bar-btn {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                background-color: transparent;
                border: solid 2px $main-color;
                &.style2 {
                    border-radius: 5px;
                }
                img {
                    position: relative;
                    top: -1px;
                }
            }
            &:first-child {
                padding-left: 0;
            }
        }
        .default-btn {
            position: relative;
            bottom: -4px;
        }
    }

}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    } to {
        opacity: 1;
        transform: translateZ(0)
    }
}


/*
Modal  Warp  Style
======================================================*/
.modal-search {
    position: relative;
    display: inline-block;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    .overlay-content {
        position: relative;
        top: 35px;
        margin-top: 5px;
        background-color: transparent;
        left: auto;
        right: 50%;
        width: 500px;
        height: 150px;
        padding: 50px;
        transform: translate(-90%, 29%);
        text-align: center;
        background-image: url(../../../public/images/svgs/newsletter-bg.svg);
        background-position: center center ;
        background-repeat: no-repeat;
        background-size: cover;
        .form-control {
            padding-left: 20px;
            height: 55px;
            font-size: 17px;
            border-radius: 50px;
            width: 100%;
            transition: $transition;
            border: 1px solid $main-color;
            background: $white-color;
            &:focus {
                box-shadow: unset;
                border-color: $main-color;
                &::placeholder {
                    color: transparent;
                }
            }
            &::placeholder {
                color: $body-color;
                transition: $transition;
            }
        }
        .search-btn {
            position: absolute;
            right: 50px;
            top: 50px;
            bottom: 0;
            font-size: 17px;
            border: none;
            text-align: center;
            height: 55px;
            width: 55px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            background-image: url(../../../public/images/svgs/choose2.svg);
            background-position: 100% ;
            background-repeat: no-repeat;
            background-size: contain;
            img {
                // filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(963%) hue-rotate(217deg) brightness(116%) contrast(100%);
                height: 20px;
                width: 20px;
            }
        }

    }
    .close-btn {
        position: absolute;
        top: 0;
        border: solid 2px $main-color;
        right: 0;
        line-height: 52px;
        font-size: 35px;
        cursor: pointer;
        background-color: $white-color;
        color: $main-color;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        text-align: center;
        &.not-border {
            border: none;
            line-height: 35px;
            width: 35px;
            height: 35px;
        }
        &.style2 {
            border-radius: 5px;
        }

    }
}

/*
Off canvas  Warp  Style
======================================================*/
.offcanvas {
    &.offcanvas-end {
        top: 0;
        right: 0;
        width: 550px !important;
    }
    .btn-close {
        right: 40px;
        top: 35px;
        width: 40px;
        height: 40px;
        font-size: 14px;
        line-height: 44px;
        border-radius: 50%;
        text-align: center;
        opacity: 1;
        background-color: $main-color;
        position: absolute;
        --bs-btn-close-bg: none;
        transition: $transition;
        color: $white-color;
        &:hover {
            background-color: $heading-color;
        }
        &:active {
            border: none;
            box-shadow: unset;
            outline: 0;
        }
        &:focus {
            box-shadow: unset;
        }
    }
    .offcanvas-body {
        padding: 40px;
        overflow-y: auto;
    }
    .canvass-widget {
        margin-bottom: 50px;
        .canvass-logo {
            margin-bottom: 20px;
        }
        p {
            max-width: 420px;
            margin-bottom: 20px;
        }
        .social-list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                display: inline-block;
                padding-right: 12px;
                a {
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    text-align: center;
                    color: $heading-color;
                    line-height: 47px;
                    position: relative;
                    display: inline-block;
                    transition: $transition;
                    opacity: 1;
                    &.bg1 {
                        background-image: url(../../../public/images/svgs/social1.svg);
                        background-position: center center ;
                        background-repeat: no-repeat ;
                        background-size: cover;
                        transition: $transition;
                    }
                    &.active {
                        background-image: url(../../../public/images/svgs/social2.svg);
                        background-position: center center ;
                        background-repeat: no-repeat ;
                        background-size: cover;
                        transition: $transition;
                        color: $white-color;
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        h3 {
            font-weight: 900;
            font-size: 22px;
            margin-bottom: 25px;
        }
        .canvass-content {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                position: relative;
                margin-bottom: 15px;
                padding-left: 30px;
                color: #555555;
                i {
                    position: absolute;
                    left: 0;
                    top: 2px;
                    color: $main-color;
                }
                a {
                    display: block;
                    color: #555555;
                    &:hover {
                        color: $main-color;
                    }
                }
                span {
                    display: block;
                }
                p {
                    margin-bottom: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .canvass-news {
            margin-bottom: 25px;
            max-width: 400px;
            &:last-child {
                margin-bottom: 0;
            }
            .image-style {
                height: 100px;
                width: 100px;
                .image {
                    height: 100px;
                    width: 100px;
                }
            }
            .content {
                padding-left: 20px;
                p {
                    color: $main-color;
                    padding-left: 25px;
                    position: relative;
                    margin-bottom: 15px;
                    i {
                        position: absolute;
                        left: 0;
                        top: 2px;
                        color: $main-color;
                    }
                }
                h5 {
                    font-size: 16px;
                    margin-bottom: 0;
                    line-height: 1.6;
                    a {
                        color: $heading-color;
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .gallery-list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                display: inline-block;
                padding-right: 15px;
                margin-bottom: 15px;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 15px;
                }
            }
        }
    }
}

/*
Responsive Warp  Style
======================================================*/
.responsive-navbar {
    border: 0 !important;
    .offcanvas-header {
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        justify-content: space-between;
        .close-btn {
            background-color: transparent;
            color: $black-color;
            font-size: 20px;
            cursor: pointer;
            line-height: 1;
            padding: 0;
            border: 0;

            &:hover {
                color: $main-color;
            }
        }
    }
    .offcanvas-body {
        padding: 30px 15px 15px;
        background-color: $white-color;
        .accordion {
            .accordion-item {
                border: 0;
                padding: 0;
                border-radius: 0;
                margin-bottom: 25px;
                color: $black-color;
                background-color: transparent;

                .accordion-button {
                    width: 100%;
                    display: block;
                    box-shadow: unset;
                    position: relative;
                    padding: 0 18px 0 0;
                    color: $heading-color;
                    background-color: transparent;
                    transition: $transition;
                    font: {
                        size: 15px;
                        weight: 500;
                    };
                    &::after {
                        display: none;
                    }
                    &::before {
                        position: absolute;
                        content: "\EA4E";
                        font-family: remixicon!important;
                        line-height: 1;
                        right: -2px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 15px;
                        margin-top: -2px;
                    }
                    &.without-icon {
                        &::before {
                            display: none;
                        }
                    }
                    &:hover, &.active {
                        color: $main-color;
                    }
                }
                .accordion-collapse {
                    .accordion-body {
                        padding: 20px;
                        margin-top: 12px;
                        background-color: #f8f8f8;

                        .accordion-item {
                            color: $body-color;
                            margin-bottom: 15px;
                            border-bottom: none;
                            padding-bottom: 0;

                            .accordion-link {
                                width: 100%;
                                display: block;
                                color: $body-color;
                                background-color: transparent;
                                font: {
                                    size: 15px;
                                    weight: 500;
                                };
                                &:hover, &.active {
                                    color: $main-color;
                                }
                            }
                            .accordion-button {
                                width: 100%;
                                display: block;
                                box-shadow: unset;
                                position: relative;
                                padding: 0 18px 0 0;
                                color: $body-color;
                                background-color: transparent;
                                font: {
                                    size: 15px;
                                    weight: 500;
                                };
                                &::after {
                                    display: none;
                                }
                                &::before {
                                    position: absolute;
                                    content: "\EA4E";
                                    font-family: remixicon!important;
                                    line-height: 1;
                                    right: -2px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 15px;
                                    margin-top: -2px;
                                }
                            }
                            .accordion-collapse {
                                .accordion-body {
                                    background-color: $white-color;

                                    .accordion-item {
                                        .accordion-link {
                                            color: $body-color;

                                            &:hover, &.active {
                                                color: $main-color;
                                            }
                                        }
                                        .accordion-collapse {
                                            .accordion-body {
                                                background-color: #f8f8f8;
                                            }
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }
    .others-option {
        padding-left: 0;
        margin-top: 30px;
        position: relative;
        .option-item {
            margin-right: 30px;
            .modal-search {
                .open-button {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            .side-bar-btn {
                height: 55px;
                width: 55px;
                border-radius: 50%;
                border: solid 1px $main-color;
                &:focus {
                    outline: 0;
                    box-shadow: unset;
                }
                &:active {
                    outline: 0;
                    box-shadow: unset;
                    border-color: transparent;
                }
            }
        }
    }
}

/*
Go top Warp  Style
======================================================*/
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: -5px;
    right: 34px;
    transition: $transition;
    line-height: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 9999;
    background-image: url(../../../public/images/shapes/top.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 142px;
    width: 35.5px
}
#scrollTopBtn:hover {
    bottom: 10px;
}

/*
Video Popup Warp  Style
======================================================*/
.popup {
    display: none;
    position: fixed;
    z-index: 1030;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.904);
    .popup-content {
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        max-width: 700px;
        position: relative;
    }
    .close {
        right: 0px;
        top: -25px;
        position: absolute;
        filter: brightness(0) saturate(100%) invert(93%) sepia(0%) saturate(7473%) hue-rotate(56deg) brightness(108%) contrast(108%);
        opacity: 1;
        cursor: pointer;
        font-size: 30px;
        &:focus {
            outline: 0;
            box-shadow: unset;
        }
    }
    iframe {
        width: 100%;
        height: 450px;
        display: block;
        border-radius: 10px;
    }
    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 0;
    }
}
.popup-show {
    display: block;
}




/* Min width 991px */
@media only screen and (max-width: 991px) {

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        .container-fluid {
            max-width: 540px;
        }
        .inner-navbar-warp  {
            margin-top: 0;
        }
        &.style3 {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        &.black-neb {
            border-bottom: solid 1px #4c4747;
            &.sticky {
                border-color: transparent;
            }
        }
        &.style5 {
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: solid 1px #dbd3d3;
            &.sticky {
                border-color: transparent;
            }
        }
        &.style6 {
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: solid 1px #6862768c;
            &.sticky {
                border-color: transparent;
            }
        }
        .number-6 {
            display: none;
        }
        .responsive-logo {
            display: block;
        }
    }

    .offcanvas {
        .btn-close {
            left: auto;
            right: 30px;
            top: 30px;
            opacity: 1;
            position: absolute;
        }
        .offcanvas-body {
            padding: 20px;
        }
        .canvass-widget {
            .canvass-news {
                .image-style {
                    .image {
                        height: 70px;
                        width: 70px;
                    }
                }
                .content {
                    padding-left: 15px;
                    position: relative;
                    top: -10px;
                    h5 {
                        font-size: 14px;
                    }
                    p {
                        margin-bottom: 6px;
                    }
                }
            }
            .gallery-list {
                li {
                    img {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    }
    .responsive-navbar {
        .others-option {
            .option-item {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .navbar {
        .container-fluid {
            max-width: 720px;
            &.style3 {
                max-width: 720px;
            }
            &.style4 {
                max-width: 720px;
            }
            &.style6 {
                max-width: 720px;
            }
        }
    }



}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


    .navbar {
        .container-fluid {
            max-width: 960px;
            &.style2 {
                max-width: 960px;
            }
        }
        .navbar-nav {
            .nav-item {
                margin-left: 12px;
                margin-right: 12px;
                .nav-link {
                    font-size: 14px;
                    span {
                        display: none;
                    }
                }
            }
        }
        .others-option {
            padding-left: 30px;
            .option-item {
                margin-right: 0;
                padding-left: 15px;
                .default-btn {
                    padding: 14px 25px;
                    font-size: 14px;
                    span {
                        display: none;
                    }
                }
                .side-bar-btn {
                    width: 40px;
                    height: 40px;
                    line-height: 21px;
                }
                .open-button {
                    width: 40px;
                    height: 40px;
                }
            }
            &::before {
                top: 13px;
                left: 15px;
            }
        }
    }

    .overlay {
        .close-btn {
            line-height: 34px;
            font-size: 29px;
            height: 41px;
            width: 40px;
        }
    }



}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .navbar {
        .container-fluid {
            max-width: 1140px;
            &.style3 {
                max-width: 1140px;
            }
        }
        .navbar-nav {
            .nav-item {
                margin-left: 14px;
                margin-right: 14px;
                .nav-link {
                    font-size: 15px;
                }
            }
        }
        .others-option {
            .option-item {
                .side-bar-btn {
                    width: 50px;
                    height: 50px;
                }
                .open-button {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .overlay {
        .close-btn {
            line-height: 45px;
            font-size: 32px;
            height: 50px;
            width: 50px;
        }
    }


}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1400px) and (max-width: 1599px) {

    .navbar {
        .container-fluid {
            max-width: 1320px;
            &.style3 {
                max-width: 1320px;
            }
            &.style4 {
                max-width: 1320px;
            }
            &.style6 {
                max-width: 1320px;
            }
        }
    }




}
