/* Max width 767px */
@media only screen and (max-width: 991px) {
  /*
  All First Warp Responsive
  =======================================================*/
  .container-fluid {
    max-width: 540px;
  }
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  body {
    font-size: 14px;
  }
  .default-btn {
    padding: 10px 25px;
    font-size: 15px;
  }
  .pb-75 {
    padding-bottom: 35px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pb-100 {
    padding-bottom: 100px;
  }
  .single-section .title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .single-section .title .title-1 {
    width: 35px;
    margin-right: 5px;
  }
  .single-section .title .title-2 {
    width: 35px;
    margin-left: 5px;
  }
  .single-section h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .section-title .title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .section-title .title .title-1 {
    width: 35px;
    margin-right: 5px;
  }
  .section-title .title .title-2 {
    width: 35px;
    margin-left: 5px;
  }
  .section-title h2 {
    font-size: 25px;
  }
  .section-warp {
    display: block;
  }
  .section-warp .section-btn {
    margin-top: 15px;
  }
  .swiper-btn {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
  }
  .swiper-btn .swiper-button-next,
  .swiper-btn .swiper-button-prev {
    position: relative;
    width: 45px;
    height: 45px;
  }
  .swiper-btn .swiper-button-next {
    left: 15%;
    right: auto;
  }
  .swiper-btn .swiper-button-next::after {
    content: url(../images/svgs/left-arrow.svg);
  }
  .swiper-btn .swiper-button-prev {
    left: auto;
    right: 15%;
  }
  .swiper-btn .swiper-button-prev::after {
    content: url(../images/svgs/right-arrow.svg);
  }
  .pagination-slider-warp .swiper-pagination {
    margin-bottom: -10px;
  }
  /*
  Header Warp Responsive
  =======================================================*/
  .header-social {
    display: block !important;
  }
  .header-social .social-list {
    padding-left: 0;
  }
  .header-social .account-list {
    margin-bottom: 12px;
  }
  .header-contact .hc-list li {
    margin-bottom: 8px;
    padding-right: 30px;
  }
  /*
  Hero Warp Responsive
  =======================================================*/
  .hero-warp {
    padding-top: 65px;
    padding-bottom: 0;
  }
  .hero-warp .all-shapes {
    display: none;
  }
  .hero-warp .hero-main-image .main-image1 {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .hero-warp .hero-main-image .main-image2 {
    display: none;
  }
  .hero-content .title {
    font-size: 13px;
  }
  .hero-content .title .title-shape1 {
    display: none;
  }
  .hero-content .title .title-shape2 {
    display: none;
  }
  .hero-content h1 {
    font-size: 28px;
    margin-bottom: 18px;
  }
  .hero-main-image {
    text-align: center;
  }
  /*
  Bird Warp Responsive
  =======================================================*/
  .bird-warper {
    display: block !important;
  }
  .bird-container {
    display: none;
  }
  /*
  About Warp Responsive
  =======================================================*/
  .about-content {
    margin-bottom: 30px;
  }
  .about-content .about-list {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .about-form {
    margin-left: 0;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .about-form h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .about-form .form-control {
    height: 48px;
    font-size: 14px;
  }
  .about-form textarea {
    height: 100px !important;
    padding-top: 12px;
  }
  .about-warp .about-shape2 {
    display: none;
  }
  .about-warp .about-shape1 {
    display: none;
  }
  /*
  Service Warp Responsive
  =======================================================*/
  .service-warp .service-shape1 {
    display: none;
  }
  .service-card {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
  .service-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .service-card .image {
    margin-bottom: 15px;
  }
  /*
  Counter Warp Responsive
  =======================================================*/
  .counter-warp {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .counter-warp .counter-shape3 {
    display: none;
  }
  .counter-warp .all-shapes {
    display: none;
  }
  .inner-counter-warp {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .inner-counter-warp .single-counter {
    text-align: center;
    margin-bottom: 25px;
  }
  .inner-counter-warp .single-counter h1 {
    font-size: 40px;
  }
  .inner-counter-warp .single-counter h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  /*
  Smile Warp Responsive
  =======================================================*/
  .smile-image {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .smile-image::before {
    width: 100%;
    height: 100%;
  }
  .smile-image .smile-shape3 {
    display: none;
  }
  .smile-content .nav-pills {
    border-radius: 20px;
    margin-bottom: 20px !important;
    padding: 8px 10px;
    justify-content: center;
  }
  .smile-content .nav-pills .nav-link {
    font-weight: 600;
    font-size: 15px;
    padding: 8px 20px;
  }
  .smile-warp .smile-shape4 {
    display: none;
  }
  .copy-right-warp {
    padding-top: 35px;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 0.0784313725);
    background-image: none;
  }
  .copy-right-warp p a {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  /*
  Learn Warp Responsive
  =======================================================*/
  .learn-warp .learn-shape2 {
    display: none;
  }
  .learn-warp .learn-shape1 {
    display: none;
  }
  .learn-card {
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .learn-card .image .icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    bottom: -20px;
    right: 30px;
  }
  .learn-card .content {
    padding-top: 20px;
  }
  .learn-card .content h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .learn-card .content .age-time {
    margin-top: 12px;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
  }
  .inner-hurry-warp {
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 20px;
  }
  .inner-hurry-warp .default-btn {
    display: none;
  }
  .inner-hurry-warp .content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .inner-hurry-warp .hurry-count {
    display: flex;
    margin-left: 0;
    max-width: 100%;
  }
  .inner-hurry-warp .hurry-count li::before {
    display: none;
  }
  .inner-hurry-warp .hurry-count li span {
    font-weight: 800;
    font-size: 25px;
  }
  .inner-hurry-warp .hurry-count li h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .hurry-warp .hurry-shape1 {
    display: none;
  }
  .hurry-warp .hurry-shape2 {
    display: none;
  }
  .teacher-warp .teacher-shape4 {
    display: none;
  }
  .teacher-warp .teacher-shape3 {
    display: none;
  }
  .teacher-card .teacher-content .teacher1 {
    opacity: 0;
  }
  .teacher-card .teacher-content .teacher2 {
    opacity: 1;
  }
  .teacher-card .teacher-content .social-list {
    position: relative;
    bottom: 0;
    opacity: 1;
  }
  .teacher-card .teacher-content h3 a {
    color: #fff;
  }
  .teacher-card .teacher-content p {
    color: #fff;
  }
  .teacher-card .image .teacher-image-shape1 {
    opacity: 1;
  }
  .teacher-card .image .teacher-image-shape2 {
    opacity: 0;
  }
  .gallery-warp::before {
    display: none;
  }
  .provide-warp .provide-shape4 {
    display: none;
  }
  .provide-warp .provide-shape5 {
    display: none;
  }
  .inner-provide-warp {
    border-radius: 20px;
    padding: 25px;
  }
  .inner-provide-warp .provide-content .nav-pills {
    border-radius: 20px;
    margin-top: 18px;
    margin-bottom: 25px !important;
    padding: 8px 10px;
    justify-content: center;
  }
  .inner-provide-warp .provide-content .nav-pills::before {
    display: none;
  }
  .inner-provide-warp .provide-content .nav-pills::after {
    display: none;
  }
  .inner-provide-warp .provide-tab-content .provide-shape {
    position: absolute;
    left: 0;
    display: none;
  }
  .inner-provide-warp .provide-tab-content ul li {
    display: block;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .inner-provide-warp .provide-tab-content ul li::before {
    display: none;
  }
  .inner-provide-warp .provide-tab-content ul li span {
    padding-left: 12px;
    font-size: 18px;
    width: 130px;
  }
  .inner-provide-warp .provide-tab-content ul li p {
    padding-left: 48px;
  }
  .program-card-warp span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .inner-program-warp {
    margin-left: 0;
    margin-right: 0;
  }
  .inner-program-warp::before {
    display: none;
  }
  .program-warp .program-shape2 {
    display: none;
  }
  .program-warp .program-shape1 {
    display: none;
  }
  .program-warp .program-shape3 {
    display: none;
  }
  .registration-warp {
    padding-bottom: 60px;
  }
  .registration-warp .registration-shape1 {
    display: none;
  }
  .registration-warp .registration-shape2 {
    display: none;
  }
  .registration-warp .registration-content h2 {
    color: #ffffff;
    margin-bottom: 25px;
  }
  .testimonial-warp .testimonial-shape1 {
    display: none;
  }
  .testimonial-warp .testimonial-shape2 {
    display: none;
  }
  .testimonial-card .testimonial-content .star {
    margin-bottom: 8px;
  }
  .testimonial-card .testimonial-content p {
    font-size: 15px;
  }
  .testimonial-card .testimonial-content .testimonial-card-shape {
    left: 25px;
  }
  .testimonial-card .image-details {
    margin-top: 15px;
    margin-left: 65px;
  }
  .testimonial-card .image-details .user-image {
    width: 55px;
    height: 55px;
  }
  .testimonial-card .image-details .content h5 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .testimonial-slider-warp .swiper-btn {
    display: none;
  }
  .inner-newsletter-warp {
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner-newsletter-warp .newsletter-content h2 {
    margin-bottom: 15px;
  }
  .inner-newsletter-warp .newsletter-content .input-box {
    height: 110px;
  }
  .inner-newsletter-warp .newsletter-content .input-box .form-control {
    height: 45px;
    font-size: 14px;
    padding-left: 20px;
  }
  .inner-newsletter-warp .newsletter-content .input-box .default-btn {
    position: relative;
    right: 0;
    top: 20px;
  }
  .blog-warp .blog-shape1 {
    display: none;
  }
  .blog-slider-warp .swiper-btn {
    position: relative;
    top: 0;
    right: 0;
  }
  .blog-slider-warp .swiper-btn .swiper-button-next {
    right: auto;
    left: 15%;
  }
  .blog-slider-warp .swiper-btn .swiper-button-prev {
    left: auto;
    right: 15%;
  }
  .blog-card {
    margin-bottom: 25px;
  }
  .footer-warp {
    background-image: none;
    padding-top: 60px;
    background-color: #2C4073;
  }
  .footer-warp .footer-shape1 {
    display: none;
  }
  .footer-warp .footer-shape3 {
    display: none;
  }
  .footer-warp .footer-shape4 {
    display: none;
  }
  .footer-warp .footer-shape2 {
    display: none;
  }
  .all-shapes {
    display: none;
  }
  .hero-style2-content {
    margin-bottom: 20px;
  }
  .hero-style2-content h1 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .hero-style2-content .title2 {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .hero-style2-content p {
    max-width: 785px;
    font-size: 15px;
  }
  .hero-style2-warp {
    padding-top: 70px;
    padding-bottom: 0;
    background-color: #2C4073;
    background-image: none;
  }
  .hero-style2-warp .hero-style2-main1 {
    position: relative;
    right: 0;
  }
  .more-about-image .more-about-image2 {
    display: none;
  }
  .more-about-image .more-about-shape1 {
    display: none;
  }
  .more-about-image .more-about-shape2 {
    display: none;
  }
  .more-about-warp .more-about-shape3 {
    display: none;
  }
  .more-about-warp .more-about-shape4 {
    display: none;
  }
  .more-about-content {
    margin-top: 20px;
  }
  .today-box .content {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
  .today-box .content .default-btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  .today-slider-warp .today-pb {
    width: 170px;
  }
  .expert-counter-warp {
    padding-bottom: 40px;
  }
  .expert-counter-warp .expert-shape1 {
    display: none;
  }
  .expert-counter span {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 4px;
  }
  .choose-warp .choose-shape2 {
    display: none;
  }
  .choose-warp .choose-shape1 {
    display: none;
  }
  .choose-content {
    margin-top: 25px;
  }
  .choose-content .choose-list li {
    display: block;
    padding: 25px;
    text-align: center;
  }
  .choose-content .choose-list li .icon-style {
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .choose-content .choose-list li .icon {
    font-size: 50px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 70px;
    line-height: 93px;
  }
  .choose-content .choose-list li .content {
    padding-left: 0;
  }
  .inner-hurry-style2 {
    padding: 25px;
  }
  .inner-hurry-style2 .hurry-image1 {
    display: none;
  }
  .inner-hurry-style2 .hurry-shape {
    display: none;
  }
  .inner-hurry-style2 .hurry-bg {
    display: none;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count li span {
    font-weight: 800;
    font-size: 25px;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count li h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count li::before {
    display: none;
  }
  .inner-hurry-style2 .hurry-style2-content h3 {
    margin-bottom: 16px;
    font-size: 22px;
  }
  .inner-hurry-style2 .hurry-style2-content .default-btn {
    margin-top: 20px;
  }
  .inner-hurry-style2 .hurry-style2-shape1 {
    display: none;
  }
  .expert-teacher-card .content {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
  }
  .future-warp .container-fluid {
    max-width: 540px;
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }
  .future-warp .future-shape4 {
    display: none;
  }
  .future-warp .future-shape1 {
    display: none;
  }
  .future-warp .future-shape2 {
    display: none;
  }
  .future-warp .future-shape3 {
    display: none;
  }
  .future-tab .nav-pills {
    max-width: 100%;
  }
  .future-tab .nav-pills::before {
    display: none;
  }
  .future-tab .nav-pills::after {
    display: none;
  }
  .future-tab .future-tab-content {
    border-radius: 20px;
    padding: 25px;
    margin-left: 30px;
  }
  .future-tab .future-tab-content .provide-shape {
    display: none;
  }
  .future-tab .future-tab-content ul {
    max-width: 100%;
  }
  .future-tab .future-tab-content ul li {
    display: block;
    margin-bottom: 12px;
  }
  .future-tab .future-tab-content ul li::before {
    display: none;
  }
  .future-tab .future-tab-content ul li p {
    padding-left: 0;
    margin-top: 8px;
  }
  .future-tab ul {
    max-width: 100%;
  }
  .future-tab .future-slider {
    width: 100% !important;
  }
  .childhood-tab .nav-pills .nav-item {
    margin-right: 25px;
    margin-bottom: 10px;
  }
  .events-warp .events-shape1 {
    display: none;
  }
  .events-warp .events-shape2 {
    display: none;
  }
  .events-warp .events1-main {
    position: relative;
    right: auto;
    bottom: -5px;
  }
  .event-content {
    max-width: 650px;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .event-content .event-list {
    padding: 15px;
  }
  .event-content .event-list .content {
    margin-left: 10px;
  }
  .event-content .event-list .content h4 {
    font-size: 18px;
  }
  .event-content .event-list .date-warp {
    width: 90px;
    height: 75px;
  }
  .event-content .event-list .date-warp h3 {
    font-size: 25px;
  }
  .event-content .event-list .date-warp .date {
    width: 90px;
    height: 75px;
  }
  .event-content .event-list .icon-style {
    display: none;
  }
  .registration-style2-warp {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .registration-style2-warp .rt2-shape3 {
    display: none;
  }
  .registration-style2-warp .rt2-shape1 {
    display: none;
  }
  .registration-style2-warp .rt2-shape2 {
    display: none;
  }
  .registration-style2-warp .registration-content h2 {
    margin-bottom: 25px;
  }
  .testimonial-warp .ts-style2-shape1 {
    display: none;
  }
  .testimonial-warp .swiper-btn {
    display: none !important;
  }
  .testimonial-warp .pagination-slider-warp .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }
  .inner-subscription-warp {
    border-radius: 20px;
    padding: 25px;
  }
  .inner-subscription-warp .subscription-content h2 {
    margin-bottom: 25px;
    font-size: 25px;
  }
  .inner-subscription-warp .subscription-input {
    height: 50px;
  }
  .inner-subscription-warp .subscription-input .form-control {
    height: 50px;
    padding-left: 15px;
    font-size: 14px;
  }
  .inner-subscription-warp .subscription-input .default-btn {
    top: 1px;
    bottom: 1px;
    right: 1px;
    padding: 10px 18px;
  }
  .subscription-warp .subscription-shape {
    display: none;
  }
  .blog-style2-warp .bts-shape1 {
    display: none;
  }
  .hero-style3-content {
    padding-bottom: 30px;
    padding-top: 70px;
  }
  .hero-style3-content span {
    margin-bottom: 5px;
    font-size: 15px;
  }
  .hero-style3-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .hero-style3-content p {
    margin-bottom: 12px;
    font-size: 15px;
  }
  .hero-style3-warp .hero-style3-main {
    position: relative;
    bottom: 0;
    right: auto;
  }
  .hero-style3-warp .scroll-btn {
    display: none;
  }
  .creativity-card {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .creativity-card .icon {
    width: 70px;
    height: 70px;
    line-height: 69px;
    margin-bottom: 12px;
  }
  .creativity-card .icon img {
    width: 30px;
  }
  .creativity-card h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .creativity-warp {
    padding-bottom: 0;
  }
  .creativity-warp .creativity1 {
    position: relative;
  }
  .baby-care-image .style3-about2 {
    display: none;
  }
  .baby-care-image .image {
    display: none;
  }
  .award-warp {
    padding-top: 110px;
    padding-bottom: 90px;
  }
  .award-warp .award-shape3 {
    display: none;
  }
  .award-warp .award-shape1 {
    left: 0;
  }
  .class-time-warp .class-time-shape1 {
    display: none;
  }
  .time-card .image {
    width: auto;
    height: auto;
  }
  .education-warp .education-shape1 {
    display: none;
  }
  .education-warp .education-shape2 {
    display: none;
  }
  .education-content .education-item .icon-style {
    height: 65px;
    width: 65px;
  }
  .education-content .education-item .icon-style .icon {
    height: 65px;
    width: 65px;
    font-size: 45px;
    line-height: 85px;
  }
  .education-content .education-item {
    padding: 15px;
  }
  .education-content .education-item .content {
    margin-left: 15px;
  }
  .education-content .education-item .content h4 {
    font-size: 18px;
  }
  .education-image {
    padding-left: 0;
    margin-top: 25px;
  }
  .take-seat-warp {
    padding-top: 52px;
  }
  .inner-take-seat {
    background-image: none;
    padding: 25px;
  }
  .inner-take-seat .take-seat-content .hurry-count li span {
    font-weight: 800;
    font-size: 26px;
  }
  .inner-take-seat .take-seat-content .hurry-count li h3 {
    font-size: 18px;
  }
  .inner-take-seat .take-seat-content .hurry-count li::before {
    display: none;
  }
  .inner-take-seat .take-seat-content h3 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .inner-take-seat .hurry-style2-shape1 {
    display: none;
  }
  .bright-warp .bright-shape3 {
    display: none;
  }
  .bright-warp .bright-shape2 {
    display: none;
  }
  .bright-warp .bright-shape1 {
    display: none;
  }
  .future-tab .nav-pills {
    padding: 12px;
    justify-content: center;
  }
  .future-tab .nav-pills .nav-link {
    font-size: 14px;
    padding: 8px 20px;
  }
  .passion-warp .passion-shape1 {
    display: none;
  }
  .passion-warp .passion-shape2 {
    display: none;
  }
  .childhood-tab .nav-pills .nav-item .nav-link {
    background-size: 100%;
    width: 115px;
    height: 80px;
    font-size: 16px;
  }
  .upcoming-warp .upcoming-shape1 {
    display: none;
  }
  .upcoming-warp .upcoming-shape3 {
    display: none;
  }
  .upcoming-list .date-warp {
    width: 80px;
    height: 70px;
  }
  .upcoming-list .date-warp .date {
    width: 80px;
    height: 70px;
    padding: 15px;
  }
  .upcoming-list .date-warp h3 {
    font-weight: 800;
    font-size: 20px;
  }
  .upcoming-list .content {
    margin-left: 15px;
  }
  .upcoming-list .content h4 {
    font-size: 14px;
  }
  .upcoming-list .content p {
    font-size: 13px;
  }
  .upcoming-list .icon-style {
    display: none;
  }
  .load-more-btn {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .panda-registration {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .panda-registration .panda {
    position: relative;
    bottom: -29px;
    right: 0;
    text-align: center;
  }
  .panda-registration .rt2-shape1 {
    display: none;
  }
  .panda-content {
    margin-bottom: 10px !important;
  }
  .panda-content h2 {
    margin-bottom: 22px;
  }
  .last-testimonial-warp .last-t-shape1 {
    display: none;
  }
  .last-testimonial-warp .last-t-shape2 {
    display: none;
  }
  .blog-card .content h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .blog-card .content p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .upcoming-warp .upcoming-shape2 {
    display: none;
  }
  .inner-hero-warp {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .inner-hero-warp .all-shape {
    display: none;
  }
  .inner-hero-warp .inner-main-shape {
    display: none;
  }
  .inner-hero-content h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .repeat-page .page-item .page-link {
    width: 45px;
    height: 45px;
    line-height: 37px;
    background-size: 100%;
  }
  .service-big-warp {
    padding-right: 0;
  }
  .service-big-warp .content1 h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .service-big-warp .alexander {
    padding: 20px;
  }
  .service-big-warp .alexander .icon {
    display: none;
  }
  .service-big-warp .alexander h5 {
    font-size: 18px;
    padding-left: 65px;
  }
  .service-big-warp .content2 h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .service-big-warp .content2 .lec-list-warp {
    margin-top: 10px;
    margin-bottom: 12px;
    display: block !important;
  }
  .service-small-warp {
    padding-left: 0;
    margin-top: 30px;
  }
  .service-small-warp .all-boxes {
    padding: 25px;
  }
  .service-small-warp .visit-events {
    padding: 25px;
  }
  .service-small-warp .news .nes-feed img {
    max-width: 70px;
  }
  .service-small-warp .news .nes-feed .news-content {
    padding-left: 85px;
    top: 0;
  }
  .service-small-warp .events-info {
    padding: 25px;
    margin-bottom: 0;
  }
  .events-details-area .events-details-content .event-image-3 {
    margin-bottom: 20px;
  }
  .events-details-area .events-details-content span {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .events-details-area .events-details-content h2 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .events-details-area .events-details-content .upcoming-card {
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .events-details-area .events-details-content .upcoming-card ul li {
    margin-bottom: 10px;
    margin-right: 25px;
  }
  .events-details-area .events-details-content .upcoming-card ul li p {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .events-details-area .events-details-content .upcoming-card ul li .time {
    width: 85px;
    height: 85px;
    padding-top: 25px;
  }
  .class-details-content .language-details h2 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .class-details-content .language-details .class-image-four {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .class-details-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .class-details-content form {
    padding: 25px;
  }
  .class-details-content .become .portfolio-details-card h4 {
    font-size: 18px;
  }
  .faq-warp .solution .faq-content .accordion-button {
    font-size: 15px;
    border-radius: 20px;
    padding: 15px 20px;
  }
  .faq-warp .solution .faq-content .accordion-item .accordion-body {
    background-color: #ffffff;
    padding: 10px;
  }
  .faq-warp .solution .section-heading h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .blog-page-content {
    margin-right: 0;
  }
  .blog-page-content .started h2 {
    font-size: 22px;
    margin-bottom: 13px;
    line-height: normal;
  }
  .blog-page-content .started .comment li {
    padding-left: 20px;
    margin-right: 20px;
  }
  .blog-page-content .started .ver-eos {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .blog-page-content .started .ver-eos .quote-1 {
    display: none;
  }
  .blog-page-content .started .tags-share .tag .cur-tag li {
    margin-right: 8px;
  }
  .blog-page-content .started .tags-share .share {
    text-align: start;
  }
  .blog-page-content .started .tags-share .share .social-list {
    margin-top: 10px;
  }
  .blog-page-content .started .comments-box ul li {
    padding-left: 80px;
  }
  .blog-page-content .started .comments-box ul li .user-menu-three {
    max-width: 70px;
  }
  .blog-page-content .started form {
    padding: 25px 20px;
    margin-top: 60px;
  }
  .product-warp .products-page-content {
    margin-right: 0;
  }
  .product-details-warp .product-details-content {
    margin-left: 0;
    margin-top: 25px;
    margin-right: 0;
  }
  .product-details-warp .product-details-content .count-warp {
    display: block;
    align-items: center;
  }
  .product-details-warp .product-details-content .count-warp li .default-btn {
    padding: 13px 30px;
    font-size: 15px;
    margin-top: 10px;
  }
  .product-details-warp .product-details-content h3 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .product-details-warp .product-details-content .category {
    margin-bottom: 0;
  }
  .description-warp {
    margin-top: 0;
    margin-bottom: 0;
  }
  .description-warp .review-tab .nav-tabs .nav-item {
    padding-right: 25px;
  }
  .description-warp .review-tab .nav-tabs .nav-item .nav-link {
    font-size: 18px;
    padding: 3px;
  }
  .cart-warp .shopping-form .coupon-cart {
    margin-bottom: 0;
  }
  .cart-warp .shopping-form .coupon-cart .form-group .default-btn {
    font-size: 16px;
    padding: 18px 44px;
    margin-top: 15px;
  }
  .cart-warp .shopping-form .coupon-cart .update-btn {
    text-align: start;
  }
  .cart-warp .shopping-form .coupon-cart .update-btn .update {
    margin-left: 0;
  }
  .contact-warp-start .contact {
    margin-right: 0;
  }
  .login-area .login-info {
    padding: 25px;
  }
  .login-area .login-info p::before {
    display: none;
  }
  .login-area .login-info p::after {
    display: none;
  }
  .login-area .login-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .login-area .login-info .form-control {
    border-radius: 60px;
    padding: 10px 20px;
    height: 45px;
    font-size: 14px;
  }
  .login-area .login-info .password {
    margin-bottom: 10px;
  }
  .login-area .login-info .default-btn {
    width: 100%;
    padding: 12px 38px;
    margin-bottom: 15px;
  }
  .login-area .login-image img {
    border-radius: 0 0 0 0;
    height: auto;
    width: 500px;
  }
  .modal-dialog .modal-header .btn-close {
    right: 10px;
    top: 25px;
    opacity: 1;
    z-index: 2;
  }
  .modal-dialog {
    max-width: 100%;
    position: relative;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .swiper-btn .swiper-button-prev {
    left: auto;
    right: 18%;
  }
  .swiper-btn .swiper-button-next {
    left: 18%;
    right: auto;
  }
  .header-social {
    display: flex !important;
    justify-content: center;
  }
  .header-social .account-list {
    margin-bottom: 0;
    padding-right: 20px;
  }
  .header-contact {
    text-align: center;
  }
  .header-contact .hc-list li {
    margin-bottom: 8px;
    padding-right: 25px;
  }
  .smile-content .nav-pills {
    justify-content: space-between;
  }
  .inner-hurry-warp {
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
  }
  .inner-provide-warp .provide-content .nav-pills {
    justify-content: space-between;
  }
  .program-card-warp {
    padding: 0 20px 0 20px;
  }
  .program-card-warp .content h3 {
    font-size: 20px;
  }
  .inner-newsletter-warp .newsletter-content .input-box {
    height: 60px;
  }
  .inner-newsletter-warp .newsletter-content .input-box .default-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .inner-newsletter-warp .newsletter-content .input-box .form-control {
    height: 60px;
  }
  .blog-slider-warp .swiper-btn .swiper-button-next {
    right: auto;
    left: 18%;
  }
  .blog-slider-warp .swiper-btn .swiper-button-prev {
    left: auto;
    right: 18%;
  }
  .blog-card .content h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .footer-widget .gallery-list li:nth-child(3) {
    margin-right: 12px;
  }
  .service-style2-card {
    padding: 20px;
    border-radius: 15px;
  }
  .choose-content .choose-list li {
    display: flex;
    padding: 20px;
    text-align: inherit;
  }
  .choose-content .choose-list li .icon-style {
    margin-bottom: 0;
  }
  .choose-content .choose-list li .content {
    padding-left: 20px;
  }
  .expert-teacher-card .content {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 12px;
  }
  .childhood-tab .nav-pills .nav-item .nav-link {
    width: 100px;
  }
  .event-content .event-list .icon-style {
    display: block;
  }
  .future-tab .nav-pills {
    padding: 12px;
    justify-content: space-between;
  }
  .modal-dialog .modal-header .btn-close {
    right: 20px;
    top: -25px;
    opacity: 1;
    z-index: 2;
  }
  .modal-dialog {
    max-width: 100%;
    position: relative;
  }
  .inner-newsletter-warp {
    padding-left: 55px;
    padding-right: 55px;
  }
  .blog-card .content .blog-date li {
    padding-left: 20px;
    font-size: 12px;
    padding-right: 15px;
  }
  .blog-card .content .blog-date li img {
    width: 14px;
    top: 1px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    max-width: 720px;
  }
  .swiper-btn .swiper-button-next {
    left: 20%;
    right: auto;
  }
  .swiper-btn .swiper-button-prev {
    left: auto;
    right: 20%;
  }
  .header-social {
    display: flex !important;
    justify-content: center;
  }
  .header-social .account-list {
    margin-bottom: 0;
    padding-right: 20px;
  }
  .header-contact {
    text-align: center;
  }
  .hero-warp {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .hero-warp .hero-main-image .main-image1 {
    position: absolute;
    bottom: -20px;
    height: 400px;
    left: 0;
    z-index: 1;
  }
  .hero-warp .hero-main-image .main-image2 {
    position: absolute;
    right: 50px;
    bottom: 0;
    height: 400px;
    display: block;
    z-index: -2;
  }
  .hero-content {
    max-width: 375px;
  }
  .about-form {
    margin-left: 0;
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .smile-image {
    margin-bottom: 30px;
    padding-left: 45px;
    padding-top: 45px;
  }
  .smile-content {
    max-width: 580px;
    margin-left: 0;
  }
  .smile-content .nav-pills {
    justify-content: center;
  }
  .inner-hurry-warp {
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 45px;
  }
  .inner-hurry-warp .hurry-count li span {
    font-weight: 500;
    font-size: 50px;
  }
  .inner-hurry-warp .hurry-count li::before {
    display: block;
    right: -60px;
  }
  .inner-provide-warp .provide-content .nav-pills {
    justify-content: space-between;
  }
  .inner-provide-warp .provide-tab-content ul li {
    display: flex;
  }
  .inner-newsletter-warp .newsletter-content .input-box {
    height: 60px;
  }
  .inner-newsletter-warp .newsletter-content .input-box .default-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .inner-newsletter-warp .newsletter-content .input-box .form-control {
    height: 60px;
  }
  .blog-slider-warp .swiper-btn .swiper-button-next {
    right: auto;
    left: 20%;
  }
  .blog-slider-warp .swiper-btn .swiper-button-prev {
    left: auto;
    right: 20%;
  }
  .hero-style2-content h1 {
    font-size: 35px;
    margin-bottom: 12px;
  }
  .more-about-content {
    margin-left: 0;
  }
  .choose-content {
    margin-left: 0;
  }
  .choose-content .choose-list li {
    display: flex;
    padding: 20px;
    text-align: inherit;
  }
  .choose-content .choose-list li .icon-style {
    margin-bottom: 0;
  }
  .choose-content .choose-list li .content {
    padding-left: 20px;
  }
  .inner-hurry-style2 .hurry-style2-content {
    margin-right: auto;
    margin-left: auto;
  }
  .future-tab .nav-pills {
    padding: 12px;
    justify-content: space-between;
  }
  .childhood-warp {
    margin-top: 45px;
    padding-top: 45px;
  }
  .childhood-warp .childhood-main-shape {
    top: -35px;
  }
  .event-content {
    max-width: 535px;
  }
  .event-content .event-list .icon-style {
    display: block;
  }
  .inner-subscription-warp .subscription-input {
    margin-left: 0;
  }
  .take-seat-warp .take-seat-main {
    top: -25px;
  }
  .service-big-warp .content2 .lec-list-warp {
    display: flex !important;
  }
  .modal-dialog .modal-header .btn-close {
    right: 20px;
    top: -25px;
    opacity: 1;
    z-index: 2;
  }
  .inner-newsletter-warp {
    padding-left: 55px;
    padding-right: 55px;
  }
  .smile-content {
    max-width: 100%;
  }
  .smile-content .nav-pills {
    justify-content: space-between;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-contact .hc-list li {
    padding-left: 20px;
    padding-right: 26px;
  }
  .container-fluid {
    max-width: 960px;
  }
  .single-section h2 {
    font-size: 35px;
    margin-bottom: 12px;
  }
  .section-title h2 {
    margin-bottom: 0;
    font-size: 35px;
  }
  .section-warp .single-section {
    max-width: 650px;
  }
  p {
    font-size: 15px;
  }
  body {
    font-size: 15px;
  }
  .pagination-slider-warp .swiper-pagination {
    margin-bottom: -12px;
  }
  .hero-warp {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  .hero-warp .all-shapes .hero-shape8 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape1 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape12 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape4 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape5 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape10 {
    display: none;
  }
  .hero-warp .hero-main-image .main-image1 {
    height: 490px;
    left: 10px;
  }
  .hero-warp .hero-main-image .main-image2 {
    height: 480px;
    right: 50px;
  }
  .hero-content {
    max-width: 515px;
  }
  .hero-content h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .hero-content .title {
    font-size: 16px;
  }
  .about-form {
    margin-left: 0;
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
  }
  .about-warp .about-shape2 {
    display: none;
  }
  .about-warp .about-shape1 {
    display: none;
  }
  .service-warp .service-shape1 {
    display: none;
  }
  .counter-warp .counter-shape2 {
    right: 0;
    width: 280px;
  }
  .counter-warp .counter-shape3 {
    top: 24%;
    right: 3%;
  }
  .counter-warp .counter-shape4 {
    display: none;
  }
  .smile-image::before {
    width: 100%;
    height: 100%;
  }
  .smile-image .smile-shape3 {
    display: none;
  }
  .smile-warp .smile-shape2 {
    display: none;
  }
  .smile-warp .smile-shape4 {
    display: none;
  }
  .smile-warp .smile-shape1 {
    display: none;
  }
  .smile-content {
    max-width: 445px;
  }
  .learn-warp .learn-shape2 {
    right: 5%;
  }
  .learn-warp .learn-shape1 {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .hurry-warp .hurry-shape2 {
    display: none;
  }
  .inner-hurry-warp {
    padding-left: 35px;
    padding-bottom: 65px;
    padding-top: 65px;
  }
  .inner-hurry-warp .content h2 {
    font-size: 28px;
  }
  .inner-hurry-warp .hurry-count {
    display: flex;
    margin-left: 0;
    max-width: 430px;
  }
  .inner-hurry-warp .hurry-count li span {
    margin-bottom: 2px;
    font-size: 45px;
  }
  .inner-hurry-warp .default-btn span {
    top: 22%;
    width: 124px;
    height: 97px;
  }
  .teacher-slider-warp {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-btn .swiper-button-next,
  .swiper-btn .swiper-button-prev {
    width: 45px;
    height: 46px;
  }
  .swiper-btn .swiper-button-next {
    right: -48px;
  }
  .swiper-btn .swiper-button-prev {
    left: -48px;
  }
  .provide-warp .provide-shape4 {
    display: none;
  }
  .inner-provide-warp .provide-tab-content ul {
    max-width: 610px;
  }
  .inner-provide-warp .provide-tab-content ul li span {
    padding-left: 10px;
    font-size: 18px;
    width: 140px;
  }
  .inner-provide-warp .provide-tab-content ul li p {
    padding-left: 15px;
  }
  .program-warp .program-shape2 {
    display: none;
  }
  .program-warp .program-shape1 {
    display: none;
  }
  .inner-program-warp {
    margin-left: 0;
    margin-right: 0;
  }
  .inner-program-warp::before {
    left: 0;
    right: 0;
    top: 55px;
    width: 100%;
  }
  .program-card-warp {
    padding: 0 10px 0 10px;
  }
  .program-card-warp .content h3 {
    font-size: 18px;
  }
  .program-card-warp span {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .registration-warp .registration-content {
    max-width: 545px;
  }
  .registration-warp .registration-content h2 {
    margin-bottom: 30px;
  }
  .registration-warp .registration-shape1 {
    left: 0%;
  }
  .testimonial-slider-warp {
    position: relative;
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-warp .testimonial-shape1 {
    display: none;
  }
  .inner-newsletter-warp {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .inner-newsletter-warp .newsletter-content {
    max-width: 720px;
  }
  .inner-newsletter-warp .newsletter-content h2 {
    margin-bottom: 20px;
  }
  .inner-newsletter-warp .newsletter-content .input-box {
    position: relative;
    height: 60px;
  }
  .inner-newsletter-warp .newsletter-content .input-box .form-control {
    height: 60px;
  }
  .inner-newsletter-warp .newsletter-content .input-box .default-btn {
    right: 0;
    top: 0;
    bottom: 0;
  }
  .blog-warp .blog-shape1 {
    display: none;
  }
  .footer-warp .footer-shape3 {
    display: none;
  }
  .footer-widget .canvass-content li p {
    font-size: 14px;
  }
  .footer-widget .gallery-list li:nth-child(3) {
    margin-right: 14px;
  }
  .footer-widget .schedule-warp {
    padding: 22px 22px;
  }
  .hero-style2-warp {
    padding-top: 100px;
    padding-bottom: 110px;
  }
  .hero-style2-warp .hero-style2-main1 {
    position: absolute;
    bottom: 0;
    right: 7%;
    width: 400px;
  }
  .hero-style2-warp .hero-style2-shape7 {
    position: absolute;
    bottom: 29%;
    left: 27%;
  }
  .hero-style2-warp .hero-style2-shape8 {
    display: none;
  }
  .hero-style2-warp .hero-style2-shape9 {
    display: none;
  }
  .hero-style2-warp .hero-style2-shape5 {
    display: none;
  }
  .hero-style2-content {
    max-width: 590px;
  }
  .hero-style2-content h1 {
    font-size: 35px;
    margin-bottom: 12px;
  }
  .hero-style2-content p {
    font-size: 15px;
  }
  .hero-style2-content .default-btn {
    margin-top: 10px;
  }
  .service-style2-card {
    padding: 25px;
  }
  .service-style2-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .more-about-warp .more-about-shape3 {
    display: none;
  }
  .more-about-warp .more-about-shape4 {
    right: 100px;
  }
  .expert-counter {
    padding: 0;
  }
  .expert-counter span {
    font-size: 55px;
    margin-bottom: 5px;
  }
  .choose-warp .choose-shape2 {
    display: none;
  }
  .inner-hurry-style2 {
    padding-left: 45px;
  }
  .inner-hurry-style2 .hurry-shape {
    display: none;
  }
  .inner-hurry-style2 .hurry-bg {
    display: none;
  }
  .inner-hurry-style2 .hurry-image1 {
    right: 30px;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count {
    max-width: 465px;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count li span {
    margin-bottom: 2px;
    font-size: 50px;
  }
  .expert-teacher-card .content {
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 20px;
  }
  .future-tab .nav-pills::before {
    display: none;
  }
  .future-tab .nav-pills::after {
    display: none;
  }
  .future-warp .future-shape4 {
    display: none;
  }
  .future-warp .future-shape1 {
    display: none;
  }
  .childhood-warp {
    margin-top: 45px;
    padding-top: 45px;
  }
  .childhood-warp .childhod-shape1 {
    display: none;
  }
  .childhood-warp .childhod-shape2 {
    display: none;
  }
  .childhood-warp .childhood-main-shape {
    top: -48px;
  }
  .events-warp .events1-main {
    right: 3.5%;
    width: 400px;
  }
  .events-warp .events-shape2 {
    display: none;
  }
  .events-warp .events-shape1 {
    display: none;
  }
  .event-content {
    max-width: 545px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .event-content .event-list .date-warp {
    width: 100px;
    height: 90px;
  }
  .event-content .event-list .date-warp .date {
    width: 100px;
    height: 90px;
    padding: 18px 35px 12px 20px;
  }
  .event-content .event-list .content {
    margin-left: 15px;
  }
  .event-content .event-list .content p {
    font-size: 14px;
  }
  .registration-style2-warp .rt2-shape2 {
    left: 32%;
  }
  .testimonial-style2-slider-warp {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-style3-warp .hero-style3-main {
    position: absolute;
    bottom: 0px;
    right: 10%;
    width: 400px;
  }
  .hero-style3-warp .hs-shape5 {
    display: none;
  }
  .hero-style3-warp .hs-shape1 {
    display: none;
  }
  .hero-style3-warp .hs-shape2 {
    display: none;
  }
  .hero-style3-warp .hs-shape4 {
    display: none;
  }
  .hero-style3-warp .hs-shape3 {
    display: none;
  }
  .hero-style3-content {
    padding-bottom: 120px;
    padding-top: 90px;
    max-width: 485px;
  }
  .hero-style3-content h1 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .creativity-warp .creativity1 {
    width: 460px;
  }
  .creativity-warp .creativity-shape1 {
    display: none;
  }
  .creativity-card {
    margin-bottom: 35px;
    padding: 15px 0;
  }
  .creativity-card p {
    font-size: 14px;
  }
  .creativity-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .baby-care-warp .baby-care-shape5 {
    display: none;
  }
  .class-time-slider-warp {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .class-time-warp .class-time-shape1 {
    display: none;
  }
  .education-warp .education-shape1 {
    display: none;
  }
  .inner-take-seat {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 70px;
  }
  .inner-take-seat .take-seat-content .hurry-count {
    max-width: 460px;
  }
  .inner-take-seat .take-seat-content .hurry-count li span {
    margin-bottom: 2px;
    font-size: 42px;
  }
  .ready-teacher-slider-warp {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
  }
  .bright-warp .bright-shape1 {
    display: none;
  }
  .bright-warp .bright-shape2 {
    display: none;
  }
  .passion-warp .passion-shape1 {
    display: none;
  }
  .passion-warp .passion-shape2 {
    display: none;
  }
  .upcoming-list .date-warp {
    width: 100px;
    height: 90px;
  }
  .upcoming-list .date-warp .date {
    width: 100px;
    height: 90px;
    padding: 18px 35px 12px 20px;
  }
  .upcoming-list .content {
    margin-left: 15px;
  }
  .upcoming-list .content p {
    font-size: 14px;
  }
  .upcoming-list .icon-style {
    display: none;
  }
  .upcoming-warp .upcoming-shape1 {
    display: none;
  }
  .upcoming-warp .upcoming-shape2 {
    display: none;
  }
  .panda-registration .panda {
    right: 2%;
    width: 400px;
  }
  .panda-content {
    max-width: 635px;
  }
  .panda-content h2 {
    margin-bottom: 15px;
  }
  .last-testimonial-warp .last-t-shape1 {
    display: none;
  }
  .future-tab .future-slider {
    width: 900px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .future-tab .future-tab-content {
    padding: 60px 30px;
  }
  .future-tab .future-tab-content ul {
    max-width: 595px;
  }
  .future-tab .future-tab-content ul li span {
    padding-left: 20px;
    font-size: 18px;
    width: 150px;
  }
  .future-tab .future-tab-content ul li p {
    padding-left: 2px;
  }
  .class-time-slider-warp {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
  .ready-teacher-slider-warp {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-style3-slider-warp {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner-hero-warp .inner-main-shape {
    width: 250px;
  }
  .service-card {
    padding: 18px;
  }
  .service-card h3 {
    font-size: 18px;
  }
  .service-small-warp {
    padding-left: 0;
  }
  .service-small-warp .all-boxes {
    padding: 25px;
  }
  .service-small-warp price-range output {
    margin-left: 0;
  }
  .service-small-warp price-range output::before {
    display: none;
  }
  .learn-card {
    padding-left: 20px;
    padding-right: 20px;
  }
  .learn-card .content .age-time {
    padding: 15px;
  }
  .learn-card .content .age-time p {
    font-size: 14px;
  }
  .learn-card .content .age-time span {
    font-size: 14px;
  }
  .service-small-warp .visit-events {
    padding: 25px;
  }
  .class-details-content .become .portfolio-details-card h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .modal-dialog .modal-header .btn-close {
    right: 20px;
    top: -25px;
    opacity: 1;
    z-index: 2;
  }
  .modal-dialog {
    max-width: 100%;
    position: relative;
  }
  .login-area .login-info .form-control {
    height: 50px;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .default-btn {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container-fluid {
    max-width: 1140px;
  }
  .single-section h2 {
    font-size: 40px;
    margin-bottom: 12px;
  }
  .swiper-btn .swiper-button-next,
  .swiper-btn .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .swiper-btn .swiper-button-prev {
    left: -45px;
  }
  .swiper-btn .swiper-button-next {
    right: -45px;
  }
  .section-title h2 {
    margin-bottom: 0;
    font-size: 40px;
  }
  .hero-warp {
    padding-top: 170px;
    padding-bottom: 190px;
  }
  .hero-warp .hero-main-image .main-image1 {
    height: 600px;
    left: 10px;
  }
  .hero-warp .hero-main-image .main-image2 {
    height: 600px;
    right: 50px;
  }
  .hero-warp .all-shapes .hero-shape8 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape1 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape4 {
    display: none;
  }
  .hero-content {
    max-width: 570px;
  }
  .hero-content h1 {
    font-size: 45px;
    margin-bottom: 22px;
  }
  .about-warp .about-shape2 {
    display: none;
  }
  .service-warp .service-shape1 {
    display: none;
  }
  .service-card {
    padding: 25px;
  }
  .counter-warp .counter-shape4 {
    display: none;
  }
  .counter-warp .counter-shape2 {
    right: 0;
    width: 330px;
  }
  .learn-warp .learn-shape2 {
    top: 125px;
    right: 6%;
  }
  .learn-warp .learn-shape1 {
    position: absolute;
    top: 50px;
    left: 65px;
  }
  .learn-card .content .age-time {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .smile-warp .smile-shape2 {
    display: none;
  }
  .smile-warp .smile-shape4 {
    display: none;
  }
  .smile-image::before {
    width: 100%;
    height: 100%;
  }
  .smile-image .smile-shape3 {
    display: none;
  }
  .smile-content {
    max-width: 525px;
  }
  .hurry-warp .hurry-shape2 {
    display: none;
  }
  .teacher-slider-warp {
    position: relative;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .teacher-card .teacher-content {
    padding: 20px 20px;
  }
  .provide-warp .provide-shape4 {
    display: none;
  }
  .inner-program-warp {
    margin-left: 0;
    margin-right: 0;
  }
  .program-warp .program-shape2 {
    display: none;
  }
  .program-warp .program-shape1 {
    display: none;
  }
  .program-card-warp .content h3 {
    font-size: 20px;
  }
  .registration-warp .registration-shape1 {
    left: 5%;
  }
  .registration-warp .registration-content {
    max-width: 530px;
  }
  .registration-warp .registration-content h2 {
    font-size: 42px;
  }
  .testimonial-slider-warp {
    max-width: 1070px;
    margin-right: auto;
    margin-left: auto;
  }
  .testimonial-card .testimonial-content p {
    font-size: 15px;
    color: #2C4073;
    margin-bottom: 0;
  }
  .testimonial-card .testimonial-content .testimonial-card-shape {
    left: 25px;
  }
  .testimonial-card .image-details {
    margin-top: 18px;
    margin-left: 70px;
  }
  .footer-warp .footer-shape3 {
    display: none;
  }
  .hero-style2-content {
    max-width: 625px;
  }
  .hero-style2-content h1 {
    font-size: 45px;
    margin-bottom: 12px;
  }
  .hero-style2-warp {
    padding-top: 145px;
    padding-bottom: 170px;
  }
  .hero-style2-warp .hero-style2-main1 {
    width: 540px;
    right: 3%;
  }
  .hero-style2-warp .hero-style2-shape9 {
    display: none;
  }
  .hero-style2-warp .hero-style2-shape8 {
    display: none;
  }
  .hero-style2-warp .hero-style2-shape3 {
    display: none;
  }
  .service-style2-card {
    padding: 25px;
  }
  .more-about-warp .more-about-shape3 {
    display: none;
  }
  .today-box .content {
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
  }
  .today-box .content .default-btn {
    padding-left: 30px;
    padding-right: 30px;
  }
  .today-slider-warp .today-pb {
    width: 170px;
  }
  .choose-warp .choose-shape2 {
    display: none;
  }
  .inner-hurry-style2 {
    padding-left: 50px;
  }
  .inner-hurry-style2 .hurry-shape {
    display: none;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count {
    max-width: 460px;
  }
  .inner-hurry-style2 .hurry-style2-content .hurry-count li span {
    font-size: 45px;
  }
  .etw-slider-warp .today-pb {
    width: 170px;
  }
  .expert-teacher-card .content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
  }
  .future-warp .future-shape4 {
    display: none;
  }
  .future-warp .future-shape1 {
    left: 3%;
    top: -10px;
  }
  .future-tab .nav-pills::before {
    display: none;
  }
  .future-tab .nav-pills::after {
    display: none;
  }
  .childhood-warp {
    margin-top: 45px;
    padding-top: 45px;
  }
  .childhood-warp .childhood-main-shape {
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
  }
  .childhood-warp .childhod-shape1 {
    display: none;
  }
  .childhood-warp .childhod-shape2 {
    display: none;
  }
  .events-warp .events-shape1 {
    display: none;
  }
  .events-warp .events-shape2 {
    display: none;
  }
  .events-warp .events1-main {
    right: 4.5%;
    width: 527px;
  }
  .event-content {
    max-width: 545px;
  }
  .event-content .event-list .date-warp {
    width: 100px;
    height: 90px;
  }
  .event-content .event-list .date-warp .date {
    width: 100px;
    height: 90px;
    padding: 18px 35px 12px 20px;
  }
  .event-content .event-list .content {
    margin-left: 15px;
  }
  .event-content .event-list .content p {
    font-size: 14px;
  }
  .registration-style2-warp .rt2-shape2 {
    left: 30%;
    bottom: 150px;
  }
  .testimonial-style2-slider-warp {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-style2-slider-warp .tst-warp {
    width: 170px;
  }
  .hero-style3-warp .hero-style3-main {
    right: 6%;
    width: 500px;
  }
  .hero-style3-warp .hs-shape1 {
    display: none;
  }
  .hero-style3-content {
    padding-bottom: 170px;
    padding-top: 145px;
    max-width: 620px;
  }
  .hero-style3-content h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .hero-style3-content p {
    font-size: 16px;
  }
  .creativity-card {
    margin-bottom: 35px;
    padding: 15px 12px;
  }
  .baby-care-warp .baby-care-shape5 {
    bottom: -22px;
  }
  .class-time-warp .class-time-shape1 {
    display: none;
  }
  .class-time-slider-warp {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .education-warp .education-shape1 {
    display: none;
  }
  .inner-take-seat {
    padding-left: 55px;
  }
  .ready-teacher-slider-warp {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
  .bright-warp .bright-shape1 {
    display: none;
  }
  .passion-warp .passion-shape2 {
    position: absolute;
    left: 5%;
    top: 150px;
  }
  .passion-warp .passion-shape1 {
    position: absolute;
    top: 0;
    right: 4%;
  }
  .upcoming-warp .upcoming-shape1 {
    left: 6%;
  }
  .upcoming-list .date-warp {
    width: 100px;
    height: 90px;
  }
  .upcoming-list .date-warp .date {
    width: 100px;
    height: 90px;
    padding: 18px 35px 12px 20px;
  }
  .upcoming-list .content {
    margin-left: 15px;
  }
  .upcoming-list .content p {
    font-size: 14px;
  }
  .panda-registration .panda {
    position: absolute;
    bottom: -50px;
    right: 5%;
    width: 400px;
  }
  .panda-content h2 {
    margin-bottom: 15px;
  }
  .testimonial-style3-slider-warp {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-style3-warp .hs-shape5 {
    position: absolute;
    right: 2.2%;
    top: 5%;
  }
}
/* Min width 1400px to Max width 1499px */
@media only screen and (min-width: 1400px) and (max-width: 1899px) {
  .container-fluid {
    max-width: 1320px;
  }
  .testimonial-style2-slider-warp {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .class-time-slider-warp {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .ready-teacher-slider-warp {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-style3-slider-warp {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-warp .all-shapes .hero-shape1 {
    display: none;
  }
  .hero-warp .all-shapes .hero-shape8 {
    display: none;
  }
  .hero-warp .hero-main-image .main-image1 {
    left: 50px;
    width: 430px;
  }
  .hero-warp .hero-main-image .main-image2 {
    right: 60px;
    width: 355px;
  }
  .hero-content {
    max-width: 515px;
  }
  .hero-content h1 {
    font-size: 52px;
    margin-bottom: 30px;
  }
  .service-warp .service-shape1 {
    display: none;
  }
  .counter-warp .counter-shape2 {
    right: 10%;
    width: 365px;
  }
  .hurry-warp .hurry-shape2 {
    display: none;
  }
  .teacher-slider-warp {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-btn .swiper-button-next {
    right: -50px;
  }
  .swiper-btn .swiper-button-prev {
    left: -50px;
  }
  .provide-warp .provide-shape4 {
    position: absolute;
    right: 2.7%;
    top: 18%;
  }
  .program-warp .program-shape2 {
    display: none;
  }
  .registration-warp .registration-shape1 {
    position: absolute;
    bottom: -35px;
    left: 7%;
  }
  .testimonial-slider-warp {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner-program-warp {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
  .hero-style2-warp .hero-style2-main1 {
    width: 580px;
  }
  .bright-warp .bright-shape1 {
    width: 370px;
  }
  .panda-registration .panda {
    right: 8%;
  }
  .hero-style3-warp .hero-style3-main {
    width: 525px;
  }
}/*# sourceMappingURL=responsive.css.map */
